.expandable-side{
  max-height: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
}

.expandable-side-second{
  max-height: 25px !important;
  overflow: hidden;
  cursor: pointer;
  transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
}

.expanded-side{
  max-height: 1000px;
}
