/*
* ====================================
* Main Menu Styling
* ====================================
*/
// Remove right padding of main menu container

#main-menu-container {
	padding-right: 0;
}
//Navbar Toggler Color

.navbar-dark .navbar-toggler {
	margin-right: 10px;
	background: #676767;

	&:hover {
		background: $insurance-primary;
	}
}
// Remove spacing from main menu

.navbar {
	margin: 0;
	padding: 0;
}
// Adjust Main Menu Logo Size

.navbar-brand {
	// Main Menu Logo
	margin-left: 15px;

	img {
		height: auto;
		width: auto;
		max-height: 100px;
		max-width: auto;
	}
}

#main-menu-container {
	// Border bottom for main menu
	border-bottom: solid;
	border-width: 0.5px;
	border-color: #c2c5cc;
}
// Coloring for Main Menu

#main-menu {
	@media all and (min-width: 768px) {
		li {
			width: 20%;

			a {
				// Border left
				height: 140px;
				padding-top: 70px;
				padding-left: 20px;
				margin-top: 0;
				border-left: solid;
				border-width: 0.5px;
				border-color: #c2c5cc;
				text-transform: uppercase;
				text-align: left;
				letter-spacing: 1px;
			}
		}
	}

	.insurance-main-menu {
		// Insurance main menu styling class
		a {
			color: #000;

			&:hover {
				background-color: $insurance-primary;
				color: #fff;
				@media all and (min-width: 768px) {
					&::after {
						content: "";
						/* This is necessary for the pseudo element to work. */
						display: block;
						/* This will put the pseudo element on its own line. */
						width: 35px;
						/* Change this to whatever width you want to have before hover. */
						padding-top: 5px;
						/* This creates some space between the element and the border. */
						border-bottom: 2px solid #fff;
						/* This creates the border. Replace black with whatever color you want. */
						margin-right: auto;
						margin-top: 15px;
					}
				}
			}
		}
		@media all and (min-width: 768px) {
			a:after {
				content: "";
				/* This is necessary for the pseudo element to work. */
				display: block;
				/* This will put the pseudo element on its own line. */
				width: 35px;
				/* Change this to whatever width you want to have before hover. */
				padding-top: 5px;
				/* This creates some space between the element and the border. */
				border-bottom: 2px solid $insurance-primary;
				/* This creates the border. Replace black with whatever color you want. */
				margin-right: auto;
				margin-top: 15px;
			}
		}
	}

	.insurance-main-menu.current-menu-item {
		a {
			background-color: $insurance-primary;
			color: #fff;
		}
		@media all and (min-width: 768px) {
			a:after {
				content: "";
				/* This is necessary for the pseudo element to work. */
				display: block;
				/* This will put the pseudo element on its own line. */
				width: 35px;
				/* Change this to whatever width you want to have before hover. */
				padding-top: 5px;
				/* This creates some space between the element and the border. */
				border-bottom: 2px solid #fff;
				/* This creates the border. Replace black with whatever color you want. */
				margin-right: auto;
				margin-top: 15px;
			}
		}
	}

	.risk-main-menu {
		// risk main menu styling class
		a {
			color: #000;

			&:hover {
				background-color: $risk-primary;
				color: #fff;
				@media all and (min-width: 768px) {
					&::after {
						content: "";
						/* This is necessary for the pseudo element to work. */
						display: block;
						/* This will put the pseudo element on its own line. */
						width: 35px;
						/* Change this to whatever width you want to have before hover. */
						padding-top: 5px;
						/* This creates some space between the element and the border. */
						border-bottom: 2px solid #fff;
						/* This creates the border. Replace black with whatever color you want. */
						margin-right: auto;
						margin-top: 15px;
					}
				}
			}
		}
		@media all and (min-width: 768px) {
			a:after {
				content: "";
				/* This is necessary for the pseudo element to work. */
				display: block;
				/* This will put the pseudo element on its own line. */
				width: 35px;
				/* Change this to whatever width you want to have before hover. */
				padding-top: 5px;
				/* This creates some space between the element and the border. */
				border-bottom: 2px solid $risk-primary;
				/* This creates the border. Replace black with whatever color you want. */
				margin-right: auto;
				margin-top: 15px;
			}
		}
	}

	.risk-main-menu.current-menu-item {
		a {
			background-color: $risk-primary;
			color: #fff;
		}
		@media all and (min-width: 768px) {
			a:after {
				content: "";
				/* This is necessary for the pseudo element to work. */
				display: block;
				/* This will put the pseudo element on its own line. */
				width: 35px;
				/* Change this to whatever width you want to have before hover. */
				padding-top: 5px;
				/* This creates some space between the element and the border. */
				border-bottom: 2px solid #fff;
				/* This creates the border. Replace black with whatever color you want. */
				margin-right: auto;
				margin-top: 15px;
			}
		}
	}

	.payroll-main-menu {
		// payroll main menu styling class
		a {
			color: #000;

			&:hover {
				background-color: $payroll-primary;
				color: #fff;
				@media all and (min-width: 768px) {
					&::after {
						content: "";
						/* This is necessary for the pseudo element to work. */
						display: block;
						/* This will put the pseudo element on its own line. */
						width: 35px;
						/* Change this to whatever width you want to have before hover. */
						padding-top: 5px;
						/* This creates some space between the element and the border. */
						border-bottom: 2px solid #fff;
						/* This creates the border. Replace black with whatever color you want. */
						margin-right: auto;
						margin-top: 15px;
					}
				}
			}
		}
		@media all and (min-width: 768px) {
			a:after {
				content: "";
				/* This is necessary for the pseudo element to work. */
				display: block;
				/* This will put the pseudo element on its own line. */
				width: 35px;
				/* Change this to whatever width you want to have before hover. */
				padding-top: 5px;
				/* This creates some space between the element and the border. */
				border-bottom: 2px solid $payroll-primary;
				/* This creates the border. Replace black with whatever color you want. */
				margin-right: auto;
				margin-top: 15px;
			}
		}
	}

	.payroll-main-menu.current-menu-item {
		a {
			background-color: $payroll-primary;
			color: #fff;
		}
		@media all and (min-width: 768px) {
			a:after {
				content: "";
				/* This is necessary for the pseudo element to work. */
				display: block;
				/* This will put the pseudo element on its own line. */
				width: 35px;
				/* Change this to whatever width you want to have before hover. */
				padding-top: 5px;
				/* This creates some space between the element and the border. */
				border-bottom: 2px solid #fff;
				/* This creates the border. Replace black with whatever color you want. */
				margin-right: auto;
				margin-top: 15px;
			}
		}
	}

	.hr-main-menu {
		// human resources (hr) main menu styling class
		a {
			color: #000;

			&:hover {
				background-color: $human-resources-primary;
				color: #fff;
				@media all and (min-width: 768px) {
					&::after {
						content: "";
						/* This is necessary for the pseudo element to work. */
						display: block;
						/* This will put the pseudo element on its own line. */
						width: 35px;
						/* Change this to whatever width you want to have before hover. */
						padding-top: 5px;
						/* This creates some space between the element and the border. */
						border-bottom: 2px solid #fff;
						/* This creates the border. Replace black with whatever color you want. */
						margin-right: auto;
						margin-top: 15px;
					}
				}
			}
		}
		@media all and (min-width: 768px) {
			a:after {
				content: "";
				/* This is necessary for the pseudo element to work. */
				display: block;
				/* This will put the pseudo element on its own line. */
				width: 35px;
				/* Change this to whatever width you want to have before hover. */
				padding-top: 5px;
				/* This creates some space between the element and the border. */
				border-bottom: 2px solid $human-resources-primary;
				/* This creates the border. Replace black with whatever color you want. */
				margin-right: auto;
				margin-top: 15px;
			}
		}
	}

	.hr-main-menu.current-menu-item {
		a {
			background-color: $human-resources-primary;
			color: #fff;
		}
		@media all and (min-width: 768px) {
			a:after {
				content: "";
				/* This is necessary for the pseudo element to work. */
				display: block;
				/* This will put the pseudo element on its own line. */
				width: 35px;
				/* Change this to whatever width you want to have before hover. */
				padding-top: 5px;
				/* This creates some space between the element and the border. */
				border-bottom: 2px solid #fff;
				/* This creates the border. Replace black with whatever color you want. */
				margin-right: auto;
				margin-top: 15px;
			}
		}
	}

	.blog-main-menu {
		// blog main menu styling class
		a {
			color: #000;

			&:hover {
				background-color: #676767;
				color: #fff;
				@media all and (min-width: 768px) {
					&::after {
						content: "";
						/* This is necessary for the pseudo element to work. */
						display: block;
						/* This will put the pseudo element on its own line. */
						width: 35px;
						/* Change this to whatever width you want to have before hover. */
						padding-top: 5px;
						/* This creates some space between the element and the border. */
						border-bottom: 2px solid #fff;
						/* This creates the border. Replace black with whatever color you want. */
						margin-right: auto;
						margin-top: 15px;
					}
				}
			}
		}
		@media all and (min-width: 768px) {
			a:after {
				content: "";
				/* This is necessary for the pseudo element to work. */
				display: block;
				/* This will put the pseudo element on its own line. */
				width: 35px;
				/* Change this to whatever width you want to have before hover. */
				padding-top: 5px;
				/* This creates some space between the element and the border. */
				border-bottom: 2px solid $blog-primary;
				/* This creates the border. Replace black with whatever color you want. */
				margin-right: auto;
				margin-top: 15px;
			}
		}
	}

	.blog-main-menu.current-menu-item {
		a {
			background-color: #676767;
			color: #fff;
		}
		@media all and (min-width: 768px) {
			a:after {
				content: "";
				/* This is necessary for the pseudo element to work. */
				display: block;
				/* This will put the pseudo element on its own line. */
				width: 35px;
				/* Change this to whatever width you want to have before hover. */
				padding-top: 5px;
				/* This creates some space between the element and the border. */
				border-bottom: 2px solid #fff;
				/* This creates the border. Replace black with whatever color you want. */
				margin-right: auto;
				margin-top: 15px;
			}
		}
	}
}
/*
* ====================================
* Side Menu Styling
* ====================================
*/
// General
.side-menu-title-space {
	// Adds space for menu titles
	margin-top: 17px !important;
	margin-bottom: 17px !important;
}

.side-menu-title-top {
	// Adds space for top menu titles
	margin-bottom: 17px !important;
}

// Insurance
.side-menu { // Insurance/Default Menu
	margin-left: 50px;
	padding-right: 10px;
	border-right: solid 2px #DCDCDC;

	.menu {
		list-style: none;
		padding: 0;
		margin: 0;

		li { // Spacing for menu items
			margin-top: 5px;
			margin-bottom: 5px;

			.sub-menu-second { // margin for second level menus
				li {
					margin-left: 10px;
				}
			}
		}

		.menu-item {
			// Menu Items
			a {
				span {
					color: black;
					font-size: 15px;
				}
			}
			@media all and (min-width: 700px) {
				a[title="insurance"] { // Insurance Titles
					span {
						font-weight: bold;
						font-size: 20px;
						color: $insurance-primary;
						text-transform: uppercase;
						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
				a[title="risk"] { // Risk Titles
					span {
						font-weight: bold;
						font-size: 20px;
						color: $risk-primary;
						text-transform: uppercase;
						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
				a[title="payroll"] { // Payroll Titles
					span {
						font-weight: bold;
						font-size: 20px;
						color: $payroll-primary;
						text-transform: uppercase;
						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
			}
			@media all and (max-width: 700px) {
				a[title="insurance"] { // Insurance Title Mobile
					span {
						font-weight: bold;
						color: $insurance-primary;
						text-transform: uppercase;
						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
				a[title="risk"] { // Risk Title Mobile
					span {
						font-weight: bold;
						color: $risk-primary;
						text-transform: uppercase;
						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
				a[title="payroll"] { // Payroll Title Mobile
					span {
						font-weight: bold;
						color: $payroll-primary;
						text-transform: uppercase;
						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
			}

			i { // Insurance/Default Icon Color
				color: $insurance-primary;
			}

			.sub-menu {
				list-style: none;
				padding-left: 0px;
			}
		}
	}

	#menu-risk-menu { // Risk Menu
		.menu-item {
			// Risk Icons
			i {
				color: $risk-primary;
			}
		}
	}

	#menu-payroll-menu { // Payroll Menu
		.menu-item {

			i { // Payroll Icons
				color: $payroll-primary;
			}
		}
	}
}


/*
* ====================================
* Button Classes
* ====================================
*/
// Insurance
.btn-insurance {
	font-size: 20px;
	color: #fff;
	border-radius: 0;
	border: 5px solid;
	background-color: $insurance-primary;
	border-color: $insurance-primary;

	&:focus {
		background-color: Transparent;
		border: 5px solid $insurance-primary;
		color: $insurance-primary;
	}

	&:hover {
		background-color: Transparent;
		border: 5px solid $insurance-primary;
		color: $insurance-primary;
	}
}
// Risk
.btn-risk {
	font-size: 20px;
	color: #fff;
	border-radius: 0;
	border: 5px solid;
	background-color: $risk-primary;
	border-color: $risk-primary;

	&:focus {
		background-color: Transparent;
		border: 5px solid $risk-primary;
		color: $risk-primary;
	}

	&:hover {
		background-color: Transparent;
		border: 5px solid $risk-primary;
		color: $risk-primary;
	}
}
// Payroll
.btn-payroll {
	font-size: 20px;
	color: #fff;
	border-radius: 0;
	border: 5px solid;
	background-color: $payroll-primary;
	border-color: $payroll-primary;

	&:focus {
		background-color: Transparent;
		border: 5px solid $payroll-primary;
		color: $payroll-primary;
	}

	&:hover {
		background-color: Transparent;
		border: 5px solid $payroll-primary;
		color: $payroll-primary;
	}
}
/*
* ====================================
* General Content Styling
* ====================================
*/
.content-right {
	// Content Right (Main Templates)
	.entry-meta {
		display: none;
	}
	@media all and (min-width: 700px) {
		margin-right: 20%;
	}
}

.tab-content {
	// Border for tabbed content
	border-right: solid 1px #DCDCDC;
	border-left: solid 1px #DCDCDC;
	border-bottom: solid 1px #DCDCDC;
	padding: 15px;

	.tab-pane {
		padding-top: 25px;
		padding-left: 10px;
		padding-right: 10px;

		p {
			margin-bottom: 30px;
		}

		ul {
			margin-bottom: 30px;
		}
	}
}

#testimonials {
	background: #6EC1E4;
	@media all and (min-width:400px) {
		.col {
			margin: 75px 50px 75px 50px;

			h2 {
				font-size: 40px;
			}
			p {
				font-size: 25px;
			}
		}
	}

	h2 {
		color: white;
	}

	p {
		color: white;
	}
}

#testimonials-banner {
	margin: 50px 0px 0px 0px;
	a {
		color: white;
	}
}

#RRTestimonials {
	cite {
		color: black;
		font-size: 25px;
	}

	p {
		color: white
		font-size 25px;
	}
}

/*
* ====================================
* Risk Template Styling
* ====================================
*/
//Risk Hero
#risk-header {
	margin: 0;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 8px solid #e14f42;
	height: 518px;

	.container-fluid {
		/* Sizing */
		height: 510px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.5);

		.container {
			flex-direction: column;
			padding: 0;
			margin-left: 60px;
			@media all and (min-width: 700px) {
				h1 {
					font-size: 60px;
					color: white;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					font-size: 25px;
					color: white;
					max-width: 75%;
				}

				.btn {
					width: 400px;
					font-size: 40px;
					font-weight: 600px;
					color: white;
					border-radius: 0;
					border: 5px solid;
					font-weight: 800px;
					background-color: $risk-primary;
					border-color: $risk-primary;

					&:focus {
						background-color: Transparent;
						border: 5px solid $risk-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $risk-primary;
					}
				}
			}
			@media all and (max-width: 700px) {
				h1 {
					font-size: 40px;
					color: white;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					color: white;
				}

				.btn {
					font-weight: 600px;
					color: white;
					border-radius: 0;
					border: 5px solid;
					font-weight: 800px;
					background-color: $risk-primary;
					border-color: $risk-primary;

					&:focus {
						background-color: Transparent;
						border: 5px solid $risk-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $risk-primary;
					}
				}
			}
		}
	}
}
// Risk content container
#risk-content-container {
	padding: 0px;
	margin-top: 35px;

	.entry-title-risk {
		color: $risk-primary;
	}

	.entry-title-risk:after {
		content: "";
		/* This is necessary for the pseudo element to work. */
		display: block;
		/* This will put the pseudo element on its own line. */
		width: 35%;
		/* Change this to whatever width you want to have before hover. */
		padding-top: 5px;
		/* This creates some space between the element and the border. */
		margin-bottom: 10px;
		border-bottom: 2px solid #DCDCDC;
		/* This creates the border. Replace black with whatever color you want. */
	}

	h1 {
		color: $risk-primary;
	}
	h2 {
		color: $risk-primary;
	}
	h3 {
		color: $risk-primary;
	}
	h4 {
		color: $risk-primary;
	}
}
// Risk - Scale image for content in the content-right area
.risk-content-right img {
	width: 100%;
	height: auto;
}

#risk-footer {
	margin: 0;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;

	.container-fluid {
		/* Sizing */
		height: 400px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.5);

		.container {
			flex-direction: column;
			text-align: center;
			@media all and (min-width: 700px) {
				h1 {
					font-size: 40px;
					color: white;
					font-weight: 800;
					text-transform: capitalize;
				}

				p {
					font-size: 25px;
					color: white;
				}

				.btn-danger {
					font-size: 25px;
					font-weight: 800px;
					border-radius: 0;
					border: 5px solid;
					font-weight: 800px;
					background-color: $risk-primary;
					border-color: $risk-primary;

					&:focus {
						background-color: Transparent;
						border: 5px solid $risk-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $risk-primary;
					}
				}
			}
			@media all and (max-width: 700px) {
				h1 {
					font-size: 40px;
					color: white;
					font-weight: 800;
					text-transform: capitalize;
				}

				p {
					color: white;
				}

				.btn-danger {
					font-weight: 800px;
					border-radius: 0;
					border: 5px solid;
					font-weight: 800px;
					background-color: $risk-primary;
					border-color: $risk-primary;

					&:focus {
						background-color: Transparent;
						border: 5px solid $risk-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $risk-primary;
					}
				}
			}
		}
	}
}
/*
* ====================================
* Payroll Template Styling
* ====================================
*/
//Payroll Hero
#payroll-header {
	margin: 0;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 8px solid $payroll-primary;
	height: 600px;

	.container-fluid {
		/* Sizing */
		height: 592px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.5);

		.container {
			flex-direction: column;
			padding: 0;
			@media all and (min-width: 800px) {
				margin-left: 60px;
				h1 {
					font-size: 60px;
					color: white;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					font-size: 25px;
					color: white;
					max-width: 75%;
				}

				.btn {
					padding: 0px 10px 0px 10px;
					font-size: 40px;
					color: #fff;
					border-radius: 0;
					border: 5px solid;
					background-color: $payroll-primary;
					border-color: $payroll-primary;

					&:focus {
						background-color: Transparent;
						border: 5px solid $payroll-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $payroll-primary;
					}
				}
			}
			@media all and (max-width: 800px) {
				h1 {
					font-size: 40px;
					color: white;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					color: white;
				}

				.btn {
					font-weight: 600px;
					color: #fff;
					border-radius: 0;
					border: 5px solid;
					background-color: $payroll-primary;
					border-color: $payroll-primary;

					&:focus {
						background-color: Transparent;
						border: 5px solid $payroll-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $payroll-primary;
					}
				}
			}
		}
	}
}

// Payroll Banner Forms
.payroll-banner-form {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 25px;
	h3 {
		color: $payroll-primary;
		text-align: center;
	}
	h4 {
		color: $blog-primary;
		font-size: 15px;
		text-align: center;
	}

	.super-button-wrap {
		background-color: $payroll-primary !important;
	}
}
//Payroll content container
#payroll-content-container {
	padding: 0px;
	margin-top: 35px;

	.entry-title-payroll {
		color: $payroll-primary;
	}

	.entry-title-payroll:after {
		content: "";
		/* This is necessary for the pseudo element to work. */
		display: block;
		/* This will put the pseudo element on its own line. */
		width: 35%;
		/* Change this to whatever width you want to have before hover. */
		padding-top: 5px;
		/* This creates some space between the element and the border. */
		margin-bottom: 10px;
		border-bottom: 2px solid #DCDCDC;
		/* This creates the border. Replace black with whatever color you want. */
	}

	h1 {
		color: $payroll-primary;
	}
	h2 {
		color: $payroll-primary;
	}
	h3 {
		color: $payroll-primary;
	}
	h4 {
		color: $payroll-primary;
	}
}
// Payroll - Scale image for content in the content-right area
.payroll-content-right img {
	width: 100%;
	height: auto;
}

#payroll-footer {
	margin: 0;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;

	.container-fluid {
		/* Sizing */
		height: 400px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.5);

		.container {
			flex-direction: column;
			text-align: center;
			@media all and (min-width: 700px) {
				h1 {
					font-size: 40px;
					color: white;
					font-weight: 800;
					text-transform: capitalize;
				}

				p {
					font-size: 25px;
					color: white;
				}

				.btn-outline-success {
					font-size: 25px;
					color: #fff;
					border-radius: 0;
					border: 5px solid;
					background-color: $payroll-primary;
					border-color: $payroll-primary;

					&:focus {
						background-color: Transparent;
						border: 5px solid $payroll-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $payroll-primary;
					}
				}
			}
			@media all and (max-width: 700px) {
				h1 {
					font-size: 40px;
					color: white;
					font-weight: 800;
					text-transform: capitalize;
				}

				p {
					color: white;
				}

				.btn-outline-success {
					color: #fff;
					border-radius: 0;
					border: 5px solid;
					background-color: $payroll-primary;
					border-color: $payroll-primary;

					&:focus {
						background-color: Transparent;
						border: 5px solid $payroll-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $payroll-primary;
					}
				}
			}
		}
	}
}

// Payroll Mid-Size Pricing Styling

#payroll-midsize {
	.table-top{
		text-align: center;
		margin-bottom: 0px;

		.cell-1{
			color: white;
			background-color: #1385bf;
		}

		.plat-10{
			color: white;
			background-color: #d1332f;
		}

		.plat-20{
			color: white;
			background-color: #edaf00;
		}

		.plat-premier{
			color: white;
			background-color: #21aa7c;
		}

		.cell-pepm{
			color: #1385bf;
		}

		.pepm-10{
			color: white;
			background-color: #e14f42;

			h5 {
				font-size: 40px;
			}
		}

		.pepm-12{
			color: white;
			background-color: #ffc40c;
			h5 {
				font-size: 40px;
			}
		}

		.pepm-20{
			color: white;
			background-color: #00a65c;
			h5 {
				font-size: 40px;
			}
		}


	}

	.table-bottom {
		text-align: center;
		color: white;
		font-weight: bold;
		background-color: #91c37f;
		padding: 10px 0px 5px 10px;
	}

	#payroll-mid-accordion{
		td {
			padding-left: 30px;
		}
		margin-bottom: 50px;

		.card-header{
			background-color: #45525f;

			button {
				color: white;
			}


		}

		.check-red {
			color: #e14f42;
		}

		.check-yellow {
			color: #ffc40c;
		}

		.check-green {
			color: #00a65c;
		}
	}

	.you-judge {
		.cell-center {
			text-align: center
		}

		.adp-background {
			background: #fba489;
		}

		.tpg-background {
			background: #e1eef7;
		}
		.row-one {
			background: white;
			font-size: 25px;
			font-weight: bold;
			text-align: center;
			.adp {
				color: #f55a5e;
			}

			.tpg {
				color: #09a2de;
			}
		}

		.row-two {
			text-align: center;
			.compare {
				font-weight: bold;
				background: #fff8ca;
			}
			.adp {
				background: #fba489;
			}
			.tpg {
				background: #e1eef7;
			}
		}
		.row-three {
			background: #aee17c;
			color: white;
			text-align: center;
		}
	}

}

.payroll-calculator {
	// Mid Size Calculator

		.slider {
		margin: 20px 0px 20px 0px;
	  -webkit-appearance: none;
	  width: 100%;
	  height: 15px;
	  border-radius: 5px;
	  background: #d3d3d3;
	  outline: none;
	  opacity: 0.7;
	  -webkit-transition: .2s;
	  transition: opacity .2s;
	}

	.slider::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  appearance: none;
	  width: 25px;
	  height: 25px;
	  border-radius: 50%;
	  background: #4CAF50;
	  cursor: pointer;
	}

	.slider::-moz-range-thumb {
	  width: 25px;
	  height: 25px;
	  border-radius: 50%;
	  background: #4CAF50;
	  cursor: pointer;
	}

	.pricing-card {
		.card {
			margin: 15px;
			text-align: center;
			h5 {
				font-size: 40px;
			}

			p {
				font-weight: bold;
			}


		}

		.card-1 {
			color: white;
			background: $risk-primary;
		}

		.card-2 {
			color: white;
			background: $human-resources-primary;
		}

		.card-3 {
			color: white;
			background: $payroll-primary;
		}
	}

	.total-employees {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.displayPrice {
		background: #efefef;
		margin: 10px 0px 25px 0px;
		padding: 50px 0px 50px 0px;
		font-size: 40px;
	}
}


/*
* ====================================
* Insurance Template Styling
* ====================================
*/

.row {
	margin-left: 0px  !important;
	margin-right: 0px  !important;
}
//insurance Hero
#insurance-header {
	margin: 0;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 8px solid $insurance-primary;
	height: 518px;

	.container-fluid {
		/* Sizing */
		height: 510px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.5);

		.container {
			flex-direction: column;
			padding: 0;
			margin-left: 60px;
			@media all and (min-width: 700px) {
				h1 {
					font-size: 60px;
					color: white;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					font-size: 25px;
					color: white;
					max-width: 75%;
				}

				.btn {
					width: 400px;
					font-size: 40px;
					font-weight: 600px;
					color: #fff;
					border-radius: 0;
					border: 5px solid;
					background-color: $insurance-primary;
					border-color: $insurance-primary;

					&:focus {
						background-color: Transparent;
						border: 5px solid $insurance-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $insurance-primary;
					}
				}
			}
			@media all and (max-width: 700px) {
				h1 {
					font-size: 40px;
					color: white;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					color: white;
				}

				.btn {
					font-weight: 600px;
					color: #fff;
					border-radius: 0;
					border: 5px solid;
					background-color: $insurance-primary;
					border-color: $insurance-primary;

					&:focus {
						background-color: Transparent;
						border: 5px solid $insurance-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $insurance-primary;
					}
				}
			}
		}
	}
}
//insurance content container
#insurance-content-container {
	padding: 0px;
	margin-top: 35px;
	margin-bottom: 35px;

	.content-right {
		.entry-title {
			color: $insurance-primary;
		}

		.entry-title:after {
			content: "";
			/* This is necessary for the pseudo element to work. */
			display: block;
			/* This will put the pseudo element on its own line. */
			width: 35%;
			/* Change this to whatever width you want to have before hover. */
			padding-top: 5px;
			/* This creates some space between the element and the border. */
			margin-bottom: 10px;
			border-bottom: 2px solid #DCDCDC;
			/* This creates the border. Replace black with whatever color you want. */
		}
		h1 {
			color: $insurance-primary;
		}
		h2 {
			color: $insurance-primary;
		}
		h3 {
			color: $insurance-primary;
		}
		h4 {
			color: $insurance-primary;
		}
	}
}

#insurance-footer {
	margin: 0;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;

	.container-fluid {
		/* Sizing */
		height: 400px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		padding: 0px 0px 0px 0px;
		/* For overlay if image used*/
		background-color: rgba(0, 0, 0, 0.5);

		.row {
			text-align: center;



			@media all and (min-width: 700px) {
				h2 {
					font-size: 60px;
					color: white;
					font-weight: 800;
				}

				p {
					font-size: 25px;
					color: white;
					padding: 0px 75px 0 75px;

					a {
						color: white;
						text-decoration: underline;
					}
				}

				.btn-md {
					width: 250px;
					height: 75px;
					font-size: 25px;
					margin-top: 15px;
					color: #fff;
					border-radius: 0;
					border: 5px solid;
					background-color: $insurance-primary;
					border-color: $insurance-primary;

					&:focus {
						background-color: Transparent;
						border: 5px solid $insurance-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $insurance-primary;
					}
				}
			}
			@media all and (max-width: 700px) {
				h2 {
					font-size: 40px;
					color: white;
					font-weight: 800;
				}

				p {
					color: white;
					a {
						color: white;
						text-decoration: underline;
					}
				}

				.btn-md {
					width: 150px;
					color: #fff;
					border-radius: 0;
					border: 5px solid;
					background-color: $insurance-primary;
					border-color: $insurance-primary;

					&:focus {
						background-color: Transparent;
						border: 5px solid $insurance-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $insurance-primary;
					}
				}
			}
		}
	}
}

// Commercial Home Page Button styling

.commercial-buttons {
	@media all and (min-width: 1200px) {
		button {
			margin: 5px 10px 5px 10px;
			width: 190px;
			height: 60px;
		}
	}

	@media all and (max-width: 1200px) {
		button {
			margin: 5px 10px 5px 10px;
			font-size: 1rem;
			width: 130px;
			height: 30px;
		}
	}

	@media all and (max-width: 775px) {
			display: none;
	}


}


/*
* ====================================
* Footer Template Styling
* ====================================
*/
#footer-before {
	// Blue Green section
	background-color: #136d7c;
	@media all and (min-width: 700px) {
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 100px;
	}
	@media all and (max-width: 700px) {
		text-align: center;
	}

	.footer-area {
		color: #fff;

		h4 {
			font-weight: 600;
		}

		ul {
			list-style: none;
			padding: 0;
			list-style-type: none;

			a {
				color: #fff;
			}
		}

		img {
			margin-top: 15px;
			max-height: 150px;
			width: auto;
		}
	}

	.col-md-2 {
		@media all and (max-width: 769px) {
			width: 50%;
			margin-top: 25px;
		}
	}
}

#footer-after {
	.container-fluid {
	}
	// Gray "Site Info" Section
	background-color: #C0C0C0;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;

	p {
		color: #fff;
		align-items: center;
	}

	a {
		margin: 5px;
		color: #136d7c;
	}
}

.footer-area-one {
	text-align: center;
}

.footer-area-two {
	text-align: center;
}

#footer-locations {



	@media all and (min-width: 1400px) {
		display: flex;
		flex-wrap: wrap;
		margin-right: 200px;
		border: 1px solid #fff;

		.footer-area-three {
			padding: 10px;
			width: 50%;

			h4 {
				font-weight: 600;
			}

			a {
				color: #fff;
			}
		}
	}
	@media all and (min-width: 701px) and (max-width: 1400px) {
		display: flex;
		flex-wrap: wrap;
		margin-right: 10%;
		margin-left: 15px;
		border: 1px solid #fff;

		.footer-area-three {
			margin-right: 15px;
			width: 45%;

			h4 {
				font-weight: 600;
			}

			a {
				color: #fff;
			}
		}
	}
	@media all and (max-width: 700px) {
		display: flex;
		flex-flow: column wrap;
		margin: 25px 10%;
		border: 1px solid #fff;

		.footer-area-three {
			margin: 10px;

			h4 {
				font-weight: 600;
			}

			a {
				color: #fff;
			}
		}
	}
}
/*
* ====================================
* Blog Template Styling
* ====================================
*/
// Blog Hero
#blog-header {
	margin: 0;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 8px solid $blog-primary;
	height: 518px;

	h3 {
		color: white;
	}

	.container-fluid {
		/* Sizing */
		height: 510px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.5);

		.container {
			flex-direction: column;
			padding: 0;
			margin-left: 60px;
			@media all and (min-width: 700px) {
				h1 {
					font-size: 60px;
					color: white;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					font-size: 25px;
					color: white;
					max-width: 75%;
				}

				.btn {
					width: 520px;
					height: 78px;
					font-size: 40px;
					font-weight: 600px;
					border: 5px solid $blog-primary;
					border-radius: 0;
					font-weight: 800px;
					color: #fff;

					&:focus {
						color: #fff;
						background-color: $blog-primary;
					}

					&:hover {
						color: #fff;
						background-color: $blog-primary;
					}
				}
			}
			@media all and (max-width: 700px) {
				h1 {
					font-size: 40px;
					color: white;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					color: white;
				}

				.btn {
					font-weight: 600px;
					border: 5px solid $blog-primary;
					border-radius: 0;
					font-weight: 800px;
					color: #fff;

					&:focus {
						color: #fff;
						background-color: $blog-primary;
					}

					&:hover {
						color: #fff;
						background-color: $blog-primary;
					}
				}
			}
		}
	}
}

.blog-publish-date {
	font-style: italic;
	color: #7e7e7e;
}


// Blog Widget Area
#blog-widget-area {
	// Left side widget area
	aside {
		margin-top: 15px;

		ul {
			list-style: none;
			padding: 0px;

			li {
				margin: 10px 0px 10px 0px;
			}
		}
		@media all and (min-width: 700px) {
			// Title Styling
			margin-left: 50px;

			.widget-title {
				font-weight: bold;
				font-size: 20px;
				color: $blog-primary;
				text-transform: uppercase;
			}
		}
		@media all and (max-width: 700px) {
			.widget-title {
				font-weight: bold;
				font-size: 15px;
				color: $blog-primary;
			}

			ul {
				padding-left: 0;
			}
		}
	}
	@media all and (max-width: 800px) {
		text-align: center;
		margin-left: 0;
	}
}


// Blog Category Buttons

#blog-category-buttons {
	a {
		margin: 5px 5px 10px 5px;
	}
}



// Blog Card Display (home.php)
#blog-articles { 	// Single Card Article
	min-width: 300px;
	max-width: 450px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	padding: 15px;

	.entry-header {
		margin-top: 10px;
		margin-bottom: 10px;

		.byline {
			display: none;
		}
	}

	.card-title {
		a {
			color: $blog-primary;
		}
	}

	.updated {
		display: none;
	}
}
// Blog Single (single.php)
#blog-main {
	@media all and (min-width: 700px) {
		margin-right: 20%;
	}
	@media all and (max-width: 700px) {
		text-align: center;
	}
}
