

//Main Menu Styling

// Remove right padding of main menu container
#main-menu-container {
	padding-right: 0px;
}

//Navbar Toggler Color
.navbar-dark .navbar-toggler {
	margin-right: 10px;
  background: #676767;
	&:hover {
		background: $insurance-primary;
	}
}

// Remove spacing from main menu
.navbar {
	margin: 0px;
	padding: 0px;
}

// Adjust Main Menu Logo Size
.navbar-brand {
	margin-left: 15px;
	img {
		height: auto;
		width: auto;
		max-height: 72px;
		max-width: 250px;
	}
}

// Coloring for Main Menu
#main-menu {

		@media all and (min-width: 930px){
			li {
					width: 25%;
				a {
					line-height: 100px;
		    	height: 100px;
		    	padding-top: 0;
					margin-top: 0;
					border-left: solid;
					border-bottom: solid;
					border-width: .5px;
					border-color: #c2c5cc;
				}
			}
	}
		.insurance-main-menu { // Insurance main menu styling class
				a {
			 		color: #000;
				 &:hover {
					 background-color: $insurance-primary;
					 color: #fff;
				 }
		 		}
			}
		.insurance-main-menu.current-menu-item{
			 a {
				 background-color: $insurance-primary;
				 color: #fff;
			 }
		 }
		.risk-main-menu { // risk main menu styling class
				a {
			 color: #000;
			 &:hover {
				 background-color: $risk-primary;
				 color: #fff;
			 }
		 	}
		 }
		 .risk-main-menu.current-menu-item{
				a {
					background-color: $risk-primary;
					color: #fff;
				}
		 }

		 .payroll-main-menu { // payroll main menu styling class
				 a {
				color: #000;
				&:hover {
					background-color: $payroll-primary;
					color: #fff;
				}
			 }
			}
			.payroll-main-menu.current-menu-item{
				 a {
					 background-color: $payroll-primary;
					 color: #fff;
				 }
			}

			.hr-main-menu { // human resources (hr) main menu styling class
					a {
				 color: #000;
				 &:hover {
					 background-color: $human-resources-primary;
					 color: #fff;
				 }
				}
			 }
			 .hr-main-menu.current-menu-item{
					a {
						background-color: $human-resources-primary;
						color: #fff;
					}
			 }

			 .blog-main-menu { // blog main menu styling class
					 a {
					color: #000;
					&:hover {
						background-color: #676767;
						color: #fff;
					}
				 }
				}
				.blog-main-menu.current-menu-item{
					 a {
						 background-color: #676767;
						 color: #fff;
					 }
				}

}

/*
* ====================================
* Side Menu Styling
* ====================================
*/

// Insurance
.side-menu-insurance {
	margin-left: 50px;
	.menu {
		list-style: none;
		padding: 0;
		margin: 0;
		.menu-item{
			// Insurance Menu Items
			a {
				span {
					color: black;
					font-size: 15px;
				}
			}

			// Insurance Title
			a[title="insurance"] {
				span {
					font-weight: bold;
					font-size: 20px;
					color: $insurance-primary;
				}
			}

			// Insurance Icons
			i {
				color: $insurance-primary;
			}


			.sub-menu {
				list-style: none;
				padding-left: 10px;;
			}
		}

	}
}


// Risk
.side-menu {
	margin-left: 50px;
	#menu-risk-menu {
		list-style: none;
		padding: 0;
		margin: 0;
		.menu-item{
			// Risk Menu Items
			a {
				span {
					color: black;
					font-size: 15px;
				}
			}

			// Risk Title
			@media all and (min-width: 700px) {
				a[title="risk"] {
					span {
						font-weight: bold;
						font-size: 20px;
						color: $risk-primary;
					}
				}
			}

			@media all and (max-width: 700px) {
				a[title="risk"] {
					span {
						font-weight: bold;
						color: $risk-primary;
					}
				}
			}

			// Risk Icons
			i {
				color: $risk-primary;
			}


			.sub-menu {
				list-style: none;
				padding-left: 10px;;
			}
		}

	}
}

// payroll
.side-menu {
	margin-left: 50px;
	#menu-payroll {
		list-style: none;
		padding: 0;
		margin: 0;
		.menu-item{
			// Payroll Menu Items
			a {
				span {
					color: black;
					font-size: 15px;
				}
			}

			// Payroll Title

			@media all and (min-width: 700px) {
				a[title="payroll"] {
					span {
						font-weight: bold;
						font-size: 20px;
						color: $payroll-primary;
					}
				}
			}

			@media all and (max-width: 700px) {
				a[title="payroll"] {
					span {
						font-weight: bold;
						color: $payroll-primary;
					}
				}
			}


			// Payroll Icons
			i {
				color: $payroll-primary;
			}


			.sub-menu {
				list-style: none;
				padding-left: 10px;;
			}
		}

	}
}


/*
* ====================================
* Button Classes
* ====================================
*/


// Insurance
.btn-insurance {
	font-size: 20px;
	color: #fff;
	border-radius: 0px;
	border: 5px solid;
	background-color: $insurance-primary;
	border-color: $insurance-primary;

	&:focus {
		background-color: Transparent;
		border: 5px solid $insurance-primary;
		color: $insurance-primary;
	}

	&:hover {
		background-color: Transparent;
		border: 5px solid $insurance-primary;
		color: $insurance-primary;
	}
}

// Risk
.btn-risk {
	font-size: 20px;
	color: #fff;
	border-radius: 0px;
	border: 5px solid;
	background-color: $risk-primary;
	border-color: $risk-primary;

	&:focus {
		background-color: Transparent;
		border: 5px solid $risk-primary;
		color: $risk-primary;
	}

	&:hover {
		background-color: Transparent;
		border: 5px solid $risk-primary;
		color: $risk-primary;
	}
}

// Payroll
.btn-payroll {
	font-size: 20px;
	color: #fff;
	border-radius: 0px;
	border: 5px solid;
	background-color: $payroll-primary;
	border-color: $payroll-primary;

	&:focus {
		background-color: Transparent;
		border: 5px solid $payroll-primary;
		color: $payroll-primary;
	}

	&:hover {
		background-color: Transparent;
		border: 5px solid $payroll-primary;
		color: $payroll-primary;
	}
}


/*
* ====================================
* Risk Template Styling
* ====================================
*/

//Risk Hero
#risk-header {
	margin: 0;
	padding: 0;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 8px solid #e14f42;
	height: 518px;

	.container-fluid {
		/* Sizing */
		height: 510px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(196, 196, 196, 0.9);

		.container {
			flex-direction: column;
			padding: 0;
			margin-left: 60px;




			@media all and (min-width: 700px ) {
				h1 {
					font-size: 60px;
					color: $risk-primary;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					font-size: 25px;
					color: white;
				}

				.btn {
					width: 520px;
					height: 78px;
					font-size: 40px;
					font-weight: 600px;
					border: 5px solid $risk-primary;
					border-radius: 0px;
					font-weight: 800px;
					color: #fff;


					&:focus {
						color: #fff;
						background-color: $risk-primary;
					}

					&:hover {
						color: #fff;
						background-color: $risk-primary;
					}
				}
			}

			@media all and (max-width: 700px ) {

				h1 {
					font-size: 40px;
					color: $risk-primary;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					color: white;
				}

				.btn {

					font-weight: 600px;
					border: 5px solid $risk-primary;
					border-radius: 0px;
					font-weight: 800px;
					color: #fff;


					&:focus {
						color: #fff;
						background-color: $risk-primary;
					}

					&:hover {
						color: #fff;
						background-color: $risk-primary;
					}
				}
			}
		}
	}
}



// Risk content container
#risk-content-container {
	margin-top: 35px;
}

// Risk - Scale image for content in the content-right area
.risk-content-right img {
  width: 100%;
  height: auto;
}


#risk-footer {
	margin: 0;
	padding: 0;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 518px;

	.container-fluid {
		/* Sizing */
		height: 518px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(196, 196, 196, 0.9);

		.container {
			flex-direction: column;
			text-align: center;



			@media all and (min-width: 700px) {

				h1 {
					font-size: 60px;
					color: $risk-primary;
					font-weight: 800;
				}

				p {
					font-size: 25px;
					color: white;
				}

				.btn-danger {
					width: 520px;
					height: 78px;
					font-size: 40px;
					font-weight: 800px;
					border-radius: 0px;
					border: 5px solid;
					font-weight: 800px;
					background-color: $risk-primary;
					border-color: $risk-primary;


					&:focus {
						background-color: Transparent;
						border: 5px solid $risk-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $risk-primary;
					}
				}
			}

			@media all and (max-width: 700px) {

				h1 {
					font-size: 40px;
					color: $risk-primary;
					font-weight: 800;
				}

				p {
					color: white;
				}

				.btn-danger {
					font-weight: 800px;
					border-radius: 0px;
					border: 5px solid;
					font-weight: 800px;
					background-color: $risk-primary;
					border-color: $risk-primary;


					&:focus {
						background-color: Transparent;
						border: 5px solid $risk-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $risk-primary;
					}
				}
			}
		}
	}
}

/*
* ====================================
* Payroll Template Styling
* ====================================
*/

//Payroll Hero
#payroll-header {
	margin: 0;
	padding: 0;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 8px solid $payroll-primary;
	height: 518px;

	.container-fluid {
		/* Sizing */
		height: 510px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(196, 196, 196, 0.9);

		.container {
			flex-direction: column;
			padding: 0;
			margin-left: 60px;

			@media all and (min-width: 700px ) {
				h1 {
					font-size: 60px;
					color: $payroll-primary;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					font-size: 25px;
					color: white;
				}

				.btn {
					width: 520px;
					height: 78px;
					font-size: 40px;
					font-weight: 600px;
					border: 5px solid $payroll-primary;
					border-radius: 0px;
					font-weight: 800px;
					color: #fff;


					&:focus {
						color: #fff;
						background-color: $payroll-primary;
					}

					&:hover {
						color: #fff;
						background-color: $payroll-primary;
					}
				}
			}

			@media all and (max-width: 700px ) {
				h1 {
					font-size: 40px;
					color: $payroll-primary;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					color: white;
				}

				.btn {
					font-weight: 600px;
					border: 5px solid $payroll-primary;
					border-radius: 0px;
					font-weight: 800px;
					color: #fff;


					&:focus {
						color: #fff;
						background-color: $payroll-primary;
					}

					&:hover {
						color: #fff;
						background-color: $payroll-primary;
					}
				}
			}

		}
	}
}




//Payroll content container
#payroll-content-container {
	margin-top: 35px;
}

// Payroll - Scale image for content in the content-right area
.payroll-content-right img {
  width: 100%;
  height: auto;
}


#payroll-footer {
	margin: 0;
	padding: 0;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 518px;

	.container-fluid {
		/* Sizing */
		height: 518px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(196, 196, 196, 0.9);

		.container {
			flex-direction: column;
			text-align: center;

			@media all and (min-width: 700px ) {

				h1 {
					font-size: 60px;
					color: $payroll-primary;
					font-weight: 800;
				}

				p {
					font-size: 25px;
					color: white;
				}

				.btn-success {
					width: 520px;
					height: 78px;
					font-size: 40px;
					color: #fff;
					border-radius: 0px;
					border: 5px solid;
					background-color: $payroll-primary;
					border-color: $payroll-primary;


					&:focus {
						background-color: Transparent;
						border: 5px solid $payroll-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $payroll-primary;
					}
				}
			}

			@media all and (max-width: 700px ) {

				h1 {
					font-size: 40px;
					color: $payroll-primary;
					font-weight: 800;
				}

				p {
					color: white;
				}


				.btn-success {
					color: #fff;
					border-radius: 0px;
					border: 5px solid;
					background-color: $payroll-primary;
					border-color: $payroll-primary;


					&:focus {
						background-color: Transparent;
						border: 5px solid $payroll-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $payroll-primary;
					}
				}
			}

		}
	}
}

/*
* ====================================
* Insurance Template Styling
* ====================================
*/

//insurance Hero
#insurance-header {
	margin: 0;
	padding: 0;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 8px solid $insurance-primary;
	height: 518px;

	.container-fluid {
		/* Sizing */
		height: 510px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(196, 196, 196, 0.9);

		.container {
			flex-direction: column;
			padding: 0;
			margin-left: 60px;

			@media all and (min-width: 700px) {
				h1 {
					font-size: 60px;
					color: $insurance-primary;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					font-size: 25px;
					color: white;
				}

				.btn {
					width: 520px;
					height: 78px;
					font-size: 40px;
					font-weight: 600px;
					border: 5px solid $insurance-primary;
					border-radius: 0px;
					font-weight: 800px;
					color: #fff;


					&:focus {
						color: #fff;
						background-color: $insurance-primary;
					}

					&:hover {
						color: #fff;
						background-color: $insurance-primary;
					}
				}
			}

			@media all and (max-width: 700px) {
				h1 {
					font-size: 40px;
					color: $insurance-primary;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					color: white;
				}

				.btn {
					font-weight: 600px;
					border: 5px solid $insurance-primary;
					border-radius: 0px;
					font-weight: 800px;
					color: #fff;


					&:focus {
						color: #fff;
						background-color: $insurance-primary;
					}

					&:hover {
						color: #fff;
						background-color: $insurance-primary;
					}
				}
			}

		}
	}
}



//insurance content container
#insurance-content-container {
	margin-top: 35px;
	margin-bottom: 35px;
}

// insurance - Scale image for content in the content-right area
.insurance-content-right img {
  width: 100%;
  height: auto;
}


#insurance-footer {
	margin: 0;
	padding: 0;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 518px;

	.container-fluid {
		/* Sizing */
		height: 518px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(196, 196, 196, 0.9);

		.row {
			text-align: center;

			.col-md-12 {
				margin-bottom: 30px;
			}

			.col-md-6 {
				margin-top: 15px;
			}

			@media all and (min-width: 700px) {
				h2 {
					font-size: 60px;
					color: $insurance-primary;
					font-weight: 800;
				}

				p {
					font-size: 25px;
					color: black;
				}

				.btn-md {
					width: 250px;
					height: 75px;
					font-size: 25px;
					color: #fff;
					border-radius: 0px;
					border: 5px solid;
					background-color: $insurance-primary;
					border-color: $insurance-primary;


					&:focus {
						background-color: Transparent;
						border: 5px solid $insurance-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $insurance-primary;
					}
				}
			}

			@media all and (max-width: 700px) {
				h2 {
					font-size: 40px;
					color: $insurance-primary;
					font-weight: 800;
				}

				p {
					color: black;
				}

				.btn-md {
					width: 150px;
					color: #fff;
					border-radius: 0px;
					border: 5px solid;
					background-color: $insurance-primary;
					border-color: $insurance-primary;


					&:focus {
						background-color: Transparent;
						border: 5px solid $insurance-primary;
					}

					&:hover {
						background-color: Transparent;
						border: 5px solid $insurance-primary;
					}
				}
			}


		}
	}
}


/*
* ====================================
* Footer Template Styling
* ====================================
*/

#footer-before { // Blue Green section
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 100px;
	background-color: #136d7c;

	.footer-area {
		color: #fff;

		h4 {
			font-weight: 600;
		}

		ul {
			list-style: none;
			padding: 0;
			list-style-type: none;

			a {
				color: #fff;
			}
		}

		img {
			margin-top: 15px;
			max-height: 150px;
			width: auto;
		}
	}
}

#footer-after { // Gray "Site Info" Section
	background-color: #C0C0C0;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
	p {
		color: #fff;
		align-items: center;
	}

	a {
		margin: 5px;
		color: #136d7c;
	}
}

#footer-locations {
	@media all and (min-width: 1400px) {
		display: flex;
		flex-wrap: wrap;
		margin-right: 200px;
		border: 1px solid #fff;

		.footer-area-three {
			padding: 10px;
			width: 50%;

			h4 {
				font-weight: 600;
			}

			a {
				color: #fff;
			}
		}
	}

	@media all and (min-width: 700px) and (max-width: 1400px) {
		display: flex;
		flex-wrap: wrap;
		margin-right: 10%;
		margin-left: 15px;
		border: 1px solid #fff;

		.footer-area-three {
			margin-right: 15px;
			width: 45%;

			h4 {
				font-weight: 600;
			}

			a {
				color: #fff;
			}
		}
	}

	@media all and (max-width: 700px){
		display: flex;
		flex-wrap: wrap;
		margin-top: 25px;
		margin-right: 35%;
		border: 1px solid #fff;

		.footer-area-three {
			margin: 10px;

			h4 {
				font-weight: 600;
			}

			a {
				color: #fff;
			}
		}
	}
}

/*
* ====================================
* Blog Template Styling
* ====================================
*/

// Blog Hero
#blog-header {
	margin: 0;
	padding: 0;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 8px solid $blog-primary;
	height: 518px;

	.container-fluid {
		/* Sizing */
		height: 510px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(196, 196, 196, 0.9);

		.container {
			flex-direction: column;
			padding: 0;
			margin-left: 60px;

			@media all and (min-width: 700px) {
				h1 {
					font-size: 60px;
					color: $blog-primary;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					font-size: 25px;
					color: white;
				}

				.btn {
					width: 520px;
					height: 78px;
					font-size: 40px;
					font-weight: 600px;
					border: 5px solid $blog-primary;
					border-radius: 0px;
					font-weight: 800px;
					color: #fff;


					&:focus {
						color: #fff;
						background-color: $blog-primary;
					}

					&:hover {
						color: #fff;
						background-color: $blog-primary;
					}
				}
			}

			@media all and (max-width: 700px) {
				h1 {
					font-size: 40px;
					color: $blog-primary;
					font-weight: 800;
					text-transform: uppercase;
				}

				p {
					color: white;
				}

				.btn {
					font-weight: 600px;
					border: 5px solid $blog-primary;
					border-radius: 0px;
					font-weight: 800px;
					color: #fff;


					&:focus {
						color: #fff;
						background-color: $blog-primary;
					}

					&:hover {
						color: #fff;
						background-color: $blog-primary;
					}
				}
			}

		}
	}
}

// Blog Widget Area

#blog-content {

}

#blog-widget-area {
	margin-left: 50px;
	aside {
		margin-top: 15px;

		ul {
			list-style: none;
		}

	}
}

#blog-articles {
	min-width: 300px;
	max-width: 450px;;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	padding: 15px;

	.entry-header {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.card-title {
		a {
			color: $blog-primary;
		}

	}


}
